<h2 class="center">Subscriber Details</h2>
<table class="table">
    <tbody>
        <tr>
            <td>Title</td>
            <td>
                <% subscriber.name %>
            </td>
            <td>Description</td>
            <td>
                <% subscriber.email %>
            </td>
            <td>Max Students</td>
            <td>
                <% subscriber.maxStudents %>
            </td>
            <td>Cost</td>
            <td>
                $<% subscriber.cost %>
            </td>
        </tr>
    </tbody>
</table>