<div class="col-sm-6">
  <img src="images/fruit.jpg" alt="">
</div>
<div class="col-sm-6">
  <h1>Welcome to Confetti Cuisine!</h1>
  <p> Please check out all the cool recipes!</p>
  <p> If you want to see a cooking course, click <a href="/courses">the courses page</a> and explore!</p>
  <p> You can <a href="/contact">subscribe here! </a> </p>
</div>