<h2 class="center">Subscriber Details</h2>
<table class="table">
    <tbody>
        <tr>
            <td>Name</td>
            <td>
                <% subscriber.name %>
            </td>
            <td>Email</td>
            <td>
                <% subscriber.email %>
            </td>
            <td>Zip Code</td>
            <td>
                <% subscriber.zipCode %>
            </td>
        </tr>
        <tr>
            <td>Num of courses</td>
            <td><% subscribers.courses.length %> </td>
        </tr>
    </tbody>
</table>