<h2 class="center">User Table</h2>
<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% users.forEach(s=> { %>
            <tr>
                <td>
                    <a href="<% `/users/${s._id}`%> ">
                        <% s.fullName %>
                    </a>
                </td>
                <td>
                    <% s.email %>
                </td>
                <td>
                    <% s.zipCode %>
                </td>
                <td>
                    <a href="<% `/users/${s._id}/edit`%> ">
                        Edit
                    </a>
                </td>
                <td>
                    <a href="<% `/users/${s._id}/delete?_method=DELETE`%>" onclick="confirm('Are you sure you want to delete? ')">
                        Delete
                    </a>
                </td>
            </tr>
            <% }) %>  
    </tbody>
</table>