<h2 class="center">User Details</h2>
<table class="table">
    <tbody>
        <tr>
            <td>Full Name</td>
            <td>
                <% user.fullName %>
            </td>
            <td>Email</td>
            <td>
                <% user.email %>
            </td>
            <td>Zip Code</td>
            <td>
                <% user.zipCode %>
            </td>
        </tr>
    </tbody>
</table>